@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playball&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



@theme {
    --font-ISsans: "Instrument Sans", sans-serif;
    --font-Lato: "Lato", sans-serif;
    --font-Inika: "Inika", serif;
    --font-PlayFair: "Playfair", serif;
    --font-playball: "Playball", serif;
    --font-Inter: "Inter", sans-serif;
     --font-Roboto: "Roboto", sans-serif;
     --font-RobotoSerif: "Roboto Serif", serif;
     --breakpoint-ms: 23.4rem;

  }


  @layer utilities {
    .heroImg {
      mask: linear-gradient(to bottom, #000 90%, transparent);
    }
  }


  @keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-up {
  animation: fade-in-up 0.8s ease-out forwards;
}

.fade-in-right {
  animation: fade-in-right 0.8s ease-out forwards;
}

  